header{
    background-color: #1e1e1e;
    padding: 2px;
    text-align: center;
    color: #e0e0e0;
}
body{
    margin: 0;
    background-color: #121212;
    font-family: 'Roboto' ,sans-serif;
    color: #e0e0e0;
}
nav{
    background-color: #333;
    padding: 15px;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 20px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #555;
    
}
nav a:hover{
    background-color: #121212;
}
h1{
    font-size: 3.5em;
}
h2{
    color: rgb(137, 118, 206);
    font-size: 2.3em;
}
.box{
    background-color: #1e1e1e;
    border-radius:  12px;
    width: 80%;
    margin: 40px auto;
    overflow: hidden;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.300);
    transition: transform 0.5s ease;
}
footer{
    background-color: #333;
    text-align: center;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#mail{
    color: rgb(137, 118, 206);
}
p, ul{
    font-size: 1.2em;
    line-height: 1.6;
}
section {
    margin-bottom: 30px;
}
.box:hover{
    transform: translateY(-10px);
}
